p{
    color: pink;
    background-color:rgba(29, 57, 141, 0.671)
    
}
h1{
    background-color:royalblue;
}
.p1{
    border: solid 5px;
    padding: 2px;
    margin-right: 50%;
    text-align: center;
}