p{
    color: pink;
    background-color:rgba(29, 57, 141, 0.671)
    
}
h1{
    background-color:royalblue;
}
.p1{
    border: solid 2px;
    padding: 2px 2px 1px 2px;
    margin-right: 75%;
    text-align: center;
}
.rahul{
    height: 150px;
    width: 125px;
}
.p2{
    border: solid 2px;
    padding: 2px 2px 1px 2px;
    margin-right: 75%;
    text-align: center;
}